In [6]:
import pandas as pd
import folium

from IPython.display import IFrame

In [31]:
data = pd.read_csv('coastal_towns.csv')

In [32]:
data.head()

,town,region,size,lat,long
0,Abergele,Wales,Smaller seaside town,53.280577,-3.585155
1,Aberystwyth,Wales,Smaller seaside town,52.414468,-4.077641
2,Amble,North East,Smaller seaside town,55.331172,-1.583204
3,Ashington (Northumberland),North East,Larger other coastal town,55.183592,-1.590795
4,Bangor,Wales,Smaller seaside town,53.220944,-4.142690

In [33]:
data.groupby(['size'])['town'].count()

size
Larger other coastal town     24
Larger seaside town           51
Smaller other coastal town    37
Smaller seaside town          57
Name: town, dtype: int64

In [10]:
data.dropna()

,town,region,size,lat,long
0,Abergele,Wales,Smaller seaside town,53.280577,-3.585155
1,Aberystwyth,Wales,Smaller seaside town,52.414468,-4.077641
2,Amble,North East,Smaller seaside town,55.331172,-1.583204
3,Ashington (Northumberland),North East,Larger other coastal town,55.183592,-1.590795
4,Bangor,Wales,Smaller seaside town,53.220944,-4.142690
...,...,...,...,...,...
164,Whitley Bay,North East,Larger seaside town,55.048610,-1.461394
165,Whitstable,South East,Larger seaside town,51.350912,1.043174
166,Withernsea,Yorkshire and The Humber,Smaller seaside town,53.728416,0.031013
167,Workington,North West,Larger other coastal town,54.637815,-3.548892
168,Worthing,South East,Larger seaside town,50.832498,-0.388414

In [35]:
data = data[data['lat'].notna()] # found one without lat long
data.head()

,town,region,size,lat,long
0,Abergele,Wales,Smaller seaside town,53.280577,-3.585155
1,Aberystwyth,Wales,Smaller seaside town,52.414468,-4.077641
2,Amble,North East,Smaller seaside town,55.331172,-1.583204
3,Ashington (Northumberland),North East,Larger other coastal town,55.183592,-1.590795
4,Bangor,Wales,Smaller seaside town,53.220944,-4.142690

In [49]:
# Replacing lat long of Sunderland 
data.loc[data['town'].str.contains('Sunderland', case=False),'lat'] = 54.7072602
data.loc[data['town'].str.contains('Sunderland', case=False),'long'] = -2.960353

In [46]:
data.loc[data['town'].str.contains('Sunderland', case=False)]

            town      region                       size        lat      long
146  Sunderland   North East  Larger other coastal town  53.996626  2.960353

In [58]:

seaside_town_large  = data[data['size'] == 'Larger seaside town'] # red
seaside_town_small = data[data['size'] == 'Smaller seaside town']
other_coastal_large  = data[data['size'] == 'Larger other coastal town']
other_coastal_small  = data[data['size'] == 'Smaller other coastal town']

data_map = folium.Map( [52.600,-1.208], tiles='stamenwatercolor' ) #CartoDB positron
   
for lat, long, town in zip(seaside_town_large.lat, seaside_town_large.long, seaside_town_large.town):
    folium.Marker( [lat, long], 
                   icon=folium.CustomIcon( icon_image='https://i.imgur.com/CYx04oC.png', icon_size=(15,15) ), popup=town).add_to(data_map)

for lat, long, town in zip(seaside_town_small.lat, seaside_town_small.long, seaside_town_small.town):
    folium.Marker( [lat, long], 
                   icon=folium.CustomIcon( icon_image='https://imgur.com/Rzs4Zpa.png', icon_size=(10,10) ), popup=town).add_to(data_map)
    
for lat, long, town in zip(other_coastal_large.lat, other_coastal_large.long, other_coastal_large.town):
    folium.Marker( [lat, long], 
                   icon=folium.CustomIcon( icon_image='https://imgur.com/6TWrNOY.png', icon_size=(8,8) ), popup=town).add_to(data_map)
    
for lat, long, town in zip(other_coastal_small.lat, other_coastal_small.long, other_coastal_small.town):
    folium.Marker( [lat, long], 
                   icon=folium.CustomIcon( icon_image='https://imgur.com/C1MXk3r.png', icon_size=(6,6) ), popup=town).add_to(data_map)


data_map.save('coastal_map.html')
IFrame(src='coastal_map.html', width='100%', height=800)